<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.artisansfinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ArtisansFinal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserProductPageTabbed1Activity"
            android:label="@string/title_activity_user_product_page_tabbed1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashScreen" />
        <activity
            android:name=".UserProductPageTabbedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ArtisanProductPageActivity" />
        <activity
            android:name=".OrderHistoryTabbedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ArtisanProductsActivity" />
        <activity android:name=".ArtisanLoginActivity" />
        <activity android:name=".ProductRegistrationActivity" />
        <activity android:name=".ProductPageActivity" />
        <activity android:name=".SelectedCategoryActivity" />
        <activity android:name=".ArtisanRegistrationActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ArtisanHomePageActivity" />
        <activity android:name=".UserHomePageActivity" />
        <activity android:name=".UserProductPage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserprofilePageActivity" />
        <activity android:name=".UserProfileUpdateActivity" />
        <activity android:name=".ArtisanProfileUpdateActivity" />
        <activity android:name=".ArtisanProfilePageActivity" />
        <activity android:name=".ArtisanOrderRequestPageActivity" />
        <activity android:name=".ArtisanPendingOrderActivity" />
        <activity android:name=".ArtisanOrderHistoryPageActivity" />
        <activity android:name=".OrderHistory" />
        <activity android:name=".CommonLoginActivity" />
        <activity
            android:name=".CommonLoginActivityTabbed"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <service android:name=".NotificationHandlingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>